@page "/info"
@rendermode InteractiveServer

<PageTitle>Info</PageTitle>

<h1 class="page__title">User information</h1>

<p class="page__paragraph">You can see your information here.</p>

<table class="page__table">
    <tbody>
        <tr class="page__table-row">
            <td class="page__table-el--em">Username</td>
            <td>@UserInfo.Name</td>
        </tr>
        <tr class="page__table-row">
            <td class="page__table-el--em">Role</td>
            <td>@UserInfo.Role</td>
        </tr>
        <tr class="page__table-row">
            <td class="page__table-el--em">Town</td>
            <td>...</td>
        </tr>
    </tbody>
</table>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; }
    public UserModel UserInfo { get; set; } = new();

    // for reauthorizing
    [Inject] private CustomAuthStateProvider AuthenticationStateProvider { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AuthenticationStateProvider.CheckAuthenticationAfterRendering();
        }
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (!authState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        var userClaims = authState.User.Claims;
        UserInfo = UserModel.GetUserInfoFromClaims(authState.User);
        StateHasChanged();
    }
}
