@page "/logout"
@using System.Net.Http.Headers
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Authentication
@rendermode InteractiveServer

@inject HttpClient Http
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime

@inherits AuthenticationUI.Logout

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center">
                    <img src="/favicon.png" alt="Access denied" style="max-height: 5rem;" />
                </div>
                <div class="text-center mt-2">
                    <span class="text fw-bolder">You've successfully logged out of the application.</span>
                </div>
            </div>
        </div>
    </div>
</div>
