@page "/data"
@inject HttpClient Http
@using System.Net.Http.Headers;

<h3>Data</h3>

@if (data != null)
{
    <ul>
        @foreach (var item in data)
        {
            <li>@item</li>
        }
    </ul>
}
else
{
    <p>Loading...</p>
}

@code {
    private List<string> data;

    protected override async Task OnInitializedAsync()
    {
        // Замість this.GetDataAsync() можна безпосередньо викликати GetDataAsync() тут
        await GetDataAsync();
    }

    private async Task GetDataAsync()
    {
        var token = "your-jwt-token"; // Замість цього використовуйте фактичний токен
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

        data = await Http.GetFromJsonAsync<List<string>>("api/authenticate");
    }
}