@page "/weather"
@using Microsoft.AspNetCore.Authorization
@using AuthenticationUI.Components.Pages.Model;
@inject HttpClient Http
@inject NavigationManager NavigationManager

@inherits WeatherPage

<PageTitle>Weather</PageTitle>

<link rel="stylesheet" href="css/main.min.css"/>

<h1 class="page__title">Weather</h1>
<p class="page__paragraph">You can see day weather forecast in your town here.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="page__table">
        <thead class="page__table-row row--main">
            <tr>
                <th>Time</th>
                <th>Temperature</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr class="page__table-row">
                    <td>@forecast.Time</td>
                    <td>@forecast.Temperature °C</td>
                    <td>@forecast.State</td>
                </tr>
            }
        </tbody>
    </table>
}
