@import "../common/mixins.scss";

.sorting-block {
    display: flex;
    align-items: center;
    height: 100%;

    &__label {
        color: $text-default-light;
    }
}

.table-container {
    border: 1px solid $bg-grey;
    border-radius: 7px;
    margin: 0 0 25px 0;
    overflow: hidden;
    position: relative;
    min-height: 50vh;

    &__searching-block {
        border-bottom: 1px solid $bg-grey;

        .blazored-typeahead {
            border: none !important;
            box-shadow: none !important;

            &__controls {
                input {
                    background: transparent !important;
                    padding: 1rem;
                }

                .blazored-typeahead__input-mask {
                    padding: 1rem;

                    span {
                        margin: 0 1.6rem;
                        color: $text-default-light;
                    }
                }
            }

            &__result {
                border: none;

                .blazored-typeahead__active-item {
                    background-color: $primary-color;
                    border-top: 1px solid $primary-dark-color;
                    border-bottom: 1px solid $primary-dark-color;
                }
            }
        }
    }

    &__table-block {
        /*height: calc(100vh - 320px);*/
        max-height: calc(100vh - 350px);
        overflow: auto;

        .table {
            td, th {
                padding: 1rem;
                border: none;
                border-top: 1px solid $bg-grey;
            }

            thead {
                tr {
                    th {
                        color: $text-default-light;
                        border: none;
                        border-top: 1px solid $bg-grey;
                        border-right: 1px solid $bg-grey;
                        position: relative;

                        i {
                            position: absolute;
                            right: 10px;
                            cursor: pointer;
                            transform-origin: center;
                            transform: rotate(0) translateY(0);
                            transition: .2s ease-in;

                            &:hover {
                                color: $text-default;
                            }

                            &.rotate {
                                transform: rotate(180deg) translateY(2px);
                            }
                        }

                        &:last-child {
                            border-right: none;
                        }
                    }
                }
            }

            tbody {

                tr {
                    cursor: pointer;


                    td {
                        border-right: 1px solid $bg-grey;
                        vertical-align: middle;
                        color: $text-default;

                        i {
                            color: $text-default-light;
                        }

                        p {
                            margin: 10px 0;
                            color: $text-default-light;

                            @media(max-width: $tablet-normal) {
                                display: none;
                            }
                        }

                        &:last-child {
                            border-right: none;
                        }
                    }


                    &:hover {
                        background-color: $bg-white;
                    }
                }
            }
        }
    }
}
