@import "../common/mixins.scss";
@import "../common/animations.scss";

.main-page-view {
    height: calc(100vh - 200px);

    &.main-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media(max-width: $tablet-normal) {
            flex-direction: column;
        }
    }
}

.main-block {
    &__info {
        flex: 1 1 auto;
        display: flex;
        position: relative;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /*opacity: 0;*/
        /* transform: translate(-100%, 0);
        animation: appearing-info .4s cubic-bezier(.5,.27,.87,1.28) .5s forwards;*/
        @media(max-width: $tablet-normal) {
            min-height: 80vh;
            width: 100%;
        }

        .login__block {
            flex: 1 1 auto;
        }

        .login {
            &__container {
                padding: 0 10% 0 0;
                margin: 0 0 20px 0;
            }

            &__input-group {
                label {
                    @extend %Caption;
                    color: $text-default-light;
                }

                input {
                    transition: .2s ease-in;
                    border-color: $text-default-light !important;
                    box-shadow: $minimum-shadow;

                    &.invalid {
                        border-color: $red-color !important;
                        outline: none !important;
                    }

                    &.valid.modified:not([type=checkbox]) {
                        outline: none !important;
                        border-color: $accent-color !important;
                    }
                }

                .validation-message {
                    @extend %Link;
                    transition: .2s ease-in;
                    color: $red-color;
                    padding: 10px 0;
                }
            }

            &__button {
                @extend %button;
                @extend %success-button;

                .icons-spinner {
                    &:before {
                        display: inline-block;
                        animation: spin-loader .4s linear infinite;
                    }
                }

                &:focus {
                    outline: none !important;
                }
            }
        }
    }

    &__separator {
        display: flex;
        height: calc(100vh - 50%);
        border-right: 1px solid $bg-grey;

        @media(max-width: $tablet-normal) {
            display: none;
        }
    }

    &__logo {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem 0 0 10px;

        @media(max-width: $tablet-normal) {
            display: none;
        }

        img {
        }

        .contact-info {
            margin: .5rem 0 0 0;
            color: $text-default-light;
            @extend %Link;

            p {
                margin: 0 0 .5rem 0;
            }
        }
    }
}

.title-container {
    display: flex;
    align-items: center;

    &__icon {
        opacity: 0;
        transform: translateX(-100%) rotate(-45deg);
        animation: appearing-logo .4s cubic-bezier(.5,.27,.87,1.28) .7s forwards;

        img {
            width: 100px;
        }
    }

    &__text {
        opacity: 0;
        transform: translateX(-100%);
        animation: appearing-info .8s cubic-bezier(.5,.27,.87,1.28) .2s forwards;

        h1 {
            margin: 0;
            transform: translateX(0);
            animation: appearing-subtitle .5s cubic-bezier(.5,.27,.87,1.28) .7s forwards;
        }

        p {
            margin: 0;
            color: $text-default-light;
            @extend %Link;
            transform: translateX(0);
            animation: appearing-subtitle .2s cubic-bezier(.5,.27,.87,1.28) .8s forwards;
        }
    }
}