@import "../common/mixins.scss";
@import "../common/animations.scss";

.receipt-view {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
    border-top: 1px solid $bg-grey;
    min-height: 70vh;

    @media(max-width: $tablet-normal) {
        padding: 10px 0;
    }

    &.zoomed-receipt {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        z-index: 200;
        background: $bg-main-color;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 5%;
        overflow: visible;

        .receipt-view__info {
            display: none;
            opacity: 0;
        }

        .receipt-view__separator {
            border-right: 1px solid transparent;
            opacity: 0;
        }

        .receipt-view__image {


            &.zoomed-receipt {
                /*transform: translate(-50%, 10%) scale(1.2);*/
                transform: scale(1.2);

                @media (max-width: $tablet-normal) {
                    display: flex;
                    transform: scale(1);
                }

                .info-block {
                    /*padding-top: 70vh;
                    padding-top: 10vh;*/
                    padding-top: calc(10vh + (10 - 70) * ((100vw - 320px) / (1600 - 320)));

                    &__subtitle {
                        display: none;
                    }

                    .receipt-image {
                        z-index: 201;
                        margin: 10% 0;
                        background: $bg-white;
                        box-shadow: $box-shadow;

                        .footer_title {
                            margin: 20px;
                            align-self: flex-end;
                        }

                        .footer_image {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 50px 0;
        transition: .2s ease;
        opacity: 1;

        @media(max-width: $tablet-normal) {
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .info-block {
            margin: 0 0 20px 0;

            @media(max-width: $tablet-normal) {
                margin: 0 0 10px 0;
            }

            &.action-btn {
                @media(max-width: $tablet-normal) {
                    align-self: center;
                }
            }

            &.show-receipt {
                display: none;
                margin: 0;
                align-self: flex-end;

                .info-block__subtitle {
                    display: flex;
                    align-items: center;

                    .zoom-in {
                        border-radius: 50px;
                        background: $bg-white;
                        color: $text-default;
                        box-shadow: $minimum-shadow;
                        padding: 15px;
                        margin: 0 0 0 1rem;
                        width: 48px;
                        height: 48px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @extend %Link;
                        cursor: pointer;
                        transition: .2s ease-in;

                        &:active {
                            box-shadow: none;
                        }

                        i {
                            margin: 2px 0 0 0;
                        }
                    }
                }

                @media(max-width: $tablet-normal) {
                    display: block;
                }
            }

            &__subtitle {
                display: block;
                @extend %BodyRegular;
                color: $text-default-light;
                margin: 10px 0 10px 0;
            }

            &__text {
                @extend %BodyBold;

                i {
                    color: $text-default-light;
                }
            }

            .select-file {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 20px 0 0 0;

                &__title {
                    @extend %BodyRegular;
                    color: $text-default-light;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0 0 .5rem 0;

                    .icon-container {
                        margin: 5px 0 0 10px;

                        &__generating {
                            margin: 3px 0 0 10px;

                            i {
                                display: inline-block;
                                animation: spin-loader .4s linear infinite;
                            }
                        }

                        &__generated {
                            margin: 5px 0 0 10px;
                            color: $accent-color;
                        }
                    }

                    .title__generated {
                        color: $accent-color;
                    }
                }

                .user-select-form {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    @media(max-width: $tablet-normal) {
                        width: 100%;
                    }

                    i {
                        color: $text-default-light;
                        margin: 0 5% 0 0;
                        padding: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $bg-grey;
                        border-radius: 3px;
                    }

                    .oi-image,
                    .oi-text,
                    .oi-file {
                        padding: 4px 3px 2px 3px;
                    }
                }
            }

            &__button {
                display: inline-block;
                @extend %button;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 250px;
                margin: 0;

                @media(max-width: $tablet-normal) {
                    margin: 10px 0 !important;
                }

                &.primary {
                    @extend %primary-button;
                }

                &.secondary {
                    color: $text-default;
                    opacity: .8;

                    &:hover {
                        opacity: 1;
                    }
                }

                &.inactive {
                    box-shadow: none !important;
                    background: $bg-grey !important;
                    color: $text-color-white;
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
    }

    &__separator {
        opacity: 1;
        height: 50vh;
        border-right: 1px solid $bg-grey;
        transition: .2s ease;

        @media(max-width: $tablet-normal) {
            display: none;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        transition: .3s ease-out;
        transform: translate(0, 0) scale(1);

        @media(max-width: $tablet-normal) {
            display: none;
        }

        .info-block {
            &__subtitle {
                color: $text-default-light;
                margin: 0 0 20px 0;
            }

            &__image {
                display: flex;
                flex-direction: column;
                padding: 20px 10px;
            }

            .receipt-image {
                /*background: $bg-grey;*/
                background: linear-gradient( 45deg, #d9e0e4, #ebf2f6);
                box-shadow: $minimum-shadow;
                position: relative;
                transition: .3s ease-in;
                max-width: 330px;
                overflow: hidden;

                &__header,
                &__footer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                &__body {
                    p {
                        text-align: center;
                    }

                    .info-row {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        margin: 0 0 10px 0;

                        span {
                            margin: 0 -40px 0 0;
                        }

                        p {
                            /*overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;*/
                            margin: 0;
                            width: 50%;
                            text-align: start;

                            &:last-child {
                                text-align: end;
                            }
                        }

                        .main_name {
                            width: 100%;
                        }

                        .inner_row {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;

                            p {
                                margin: 0;
                                width: 50%;
                                text-align: start;

                                &:last-child {
                                    text-align: end;
                                }
                            }
                        }
                    }
                }

                &__action {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.zoomed {
                        justify-content: flex-end;
                        align-items: start;

                        .zoom-in {
                            display: none;
                        }

                        .zoom-out {
                            display: flex;
                            position: fixed;
                        }
                    }

                    &:hover {
                        background: rgba(0,0,0,.02);

                        .zoom-in {
                            width: 48px;
                            height: 48px;
                            transform: scale(1);
                            opacity: 1;
                        }

                        .zoom-out {
                            opacity: 1;
                        }
                    }

                    .zoom-in {
                        @extend %button;
                        @extend %primary-button;
                        padding: 15px !important;
                        width: 48px;
                        height: 48px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: scale(0.5);
                        opacity: 0;

                        i {
                            margin: 2px 0 0 0;
                        }
                    }

                    .zoom-out {
                        color: $text-default-light;
                        padding: 0 !important;
                        margin: -5px -5px 0 0;
                        width: 48px;
                        height: 48px;
                        border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: .2s ease-in;
                        transform: scale(1);
                        display: none;
                        opacity: 0;

                        i {
                            font-style: normal;
                            display: inline-block;
                            margin: 15px !important;
                        }

                        @media(max-width: $tablet-normal) {
                            opacity: 1;
                            color: $text-default;
                            background: $bg-main-color;
                            box-shadow: $small-shadow;

                            &:active {
                                box-shadow: none;
                            }
                        }

                        &:hover, &:active {
                            color: $text-default;
                            background: $bg-main-color;
                        }

                        &:hover {
                            box-shadow: $box-shadow;
                        }

                        &:active {
                            box-shadow: none;
                            opacity: 0;
                            transform: scale(0.8);
                        }
                    }
                }

                .separator {
                    text-align: center;
                    letter-spacing: 2.5px;
                    overflow: hidden;
                    white-space: nowrap;
                    color: $text-default-light;
                    font-size: 1.4em;
                    height: 1.4em;
                    margin: 5px 0;
                }

                &__header {

                    .header {
                        &__title {
                            text-align: center;
                            color: $text-default;
                        }

                        &__rows {
                            text-align: center;
                            color: $text-default-light;
                            @extend %Link;
                            margin: 0 0 10px 0;

                            p {
                                margin: 0 0 0 0;
                            }
                        }
                    }
                }

                &__footer {
                    justify-content: space-between;
                    font-weight: 700;
                    text-transform: uppercase;

                    .footer_title {
                        flex: 1 1 auto;
                        margin: 0 0 30px 0;
                    }

                    .footer_image {
                        display: none;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 5px;
                        background: $bg-white;
                        border: 1px solid $bg-grey;
                        transition: .2s ease-in;

                        img {
                            display: block;
                            margin: 0 auto;
                            transition: .2s ease-in;
                        }
                    }
                }
            }
        }
    }
}
