@import "../common/mixins.scss";
@import "../common/animations.scss";

.main-container {
    .main-title__container {
        .user-select-form {
            margin: 0;

            .form-control {
                //padding: .375rem 1.25rem .375rem .15rem;
            }

            option {
                @extend %Link;
                color: $text-default-light;

                &.active {
                    color: $text-default;
                }

                &.inactive {
                    opacity: .5;
                }
            }
        }
    }

    &__row {
        margin: 20px 0 0 0;

        &.x-report-block {
            align-items: stretch;

            @media(max-width: $tablet-normal) {
                flex-wrap: wrap;
            }
        }

        &.bottom-separated {
            border-bottom: 1px solid $bg-grey;
        }

        .select-block {
            flex: 0 1 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .user-info-block {
                @extend %BodyBold;
                color: $text-default;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 10px;
                border-left: 1px solid $bg-grey;
                background: linear-gradient( 270deg,transparent,#eaf1f5);

                &.active {
                    color: $text-green;
                    background: linear-gradient( 270deg, transparent, #eaf1f5 98%, #53e075);
                }

                &.inactive {
                    color: $text-default-light;
                    background: linear-gradient( 270deg, transparent, #eaf1f5 98%, #FF5247);
                }
            }
        }

        .actions-block {
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .report-info {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px;
                @extend %BodyRegular;
                color: $text-default-light;

                div {
                    margin: 0 10px;
                }
            }

            button {
                outline: none !important;
                border-radius: 50px;
                background: $bg-main-color;
                color: $text-default-light;
                box-shadow: $minimum-shadow;
                padding: 10px 10px 9px 10px;
                margin: 20px 0 20px 10px;
                @extend %Link;
                cursor: pointer;
                transition: .2s cubic-bezier(.5,.27,.87,1.28);

                &:hover {
                    box-shadow: $small-shadow;
                    transform: scale(1.05);
                }

                &:active {
                    box-shadow: none;
                    transform: scale(0.98);
                }
            }

            .download__button {
                @media(max-width: $tablet-normal) {
                    margin: 10px !important;
                }

                &:hover {
                    background: $primary-color;

                    i {
                        color: $text-color-white;
                    }
                }

                &:active {
                    background: $primary-dark-color;

                    i {
                        color: $text-color-white;
                    }
                }
            }

            .zoom__button {
                @media(max-width: $tablet-normal) {
                    margin: 10px !important;
                }

                &:hover {
                    background: $bg-white;
                }

                &:active {
                    i {
                        color: $text-default;
                    }
                }
            }
        }

        .main-actions__container {
            button {
                margin: 10px 0;
            }
        }
    }
}

.custom-popup__body {
    .select-file {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 0 0 0;

        &__title {
            @extend %BodyRegular;
            color: $text-default-light;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .icon-container {
                margin: 5px 0 0 10px;

                &__generating {
                    margin: 3px 0 0 10px;

                    i {
                        display: inline-block;
                        animation: spin-loader .4s linear infinite;
                    }
                }

                &__generated {
                    margin: 5px 0 0 10px;
                    color: $accent-color;
                }
            }

            .title__generated {
                color: $accent-color;
            }
        }

        .user-select-form {
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;

            i {
                color: $text-default-light;
                margin: 0 5% 0 0;
                padding: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $bg-grey;
                border-radius: 3px;
            }

            .oi-image,
            .oi-text,
            .oi-file {
                padding: 4px 3px 2px 3px;
            }
        }
    }
}

.table-actions-block.actions-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
        outline: none !important;
        border-radius: 50px;
        border: 1px solid $bg-grey;
        background: $bg-main-color;
        color: $text-default-light;
        padding: 10px 10px 8px 10px;
        @extend %Link;
        cursor: pointer;
        transition: .2s cubic-bezier(.5,.27,.87,1.28);

        &:hover {
            box-shadow: $small-shadow;
            transform: scale(1.05);
        }

        &:active {
            box-shadow: none;
            transform: scale(0.98);
        }
    }

    .download__button {
        @media(max-width: $tablet-normal) {
            margin: 10px;
        }

        &:hover {
            background: $primary-color;

            i {
                color: $text-color-white;
            }
        }

        &:active {
            background: $primary-dark-color;

            i {
                color: $text-color-white;
            }
        }
    }

    .zoom__button {
        @media(max-width: $tablet-normal) {
            margin: 10px;
        }

        &:hover {
            background: $bg-white;
        }

        &:active {
            background: $bg-main-color;

            i {
                color: $text-default;
            }
        }
    }
}

.table-saler-column {
    max-width: 20rem;
}

.select-user {
    padding: 20px 15px 0 0;
}

.select-date {
    display: flex;
    align-items: center;
    color: $text-default-light;

    form {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media(max-width: $tablet-normal) {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    label {
        margin: 0 10px 0 0;
        color: $text-default-light;

        @media(max-width: $tablet-normal) {
            margin: 0;
        }

        input {
            background: $bg-white;
            outline: none !important;
            border: 1px solid $bg-grey;
            border-radius: 12px;
            color: $text-default-light;
            padding: 5px;
            @extend %BodyRegular;
        }
    }

    button {
        @media(max-width: $tablet-normal) {
            margin: 10px 0;
        }
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: $text-default-light;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../images/chevron-down.png') center no-repeat;
        width: 20px;
        height: 20px;
        border-width: thin;
        cursor: pointer;
    }
}

.periodic-report-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: $text-default-light;
    transition: .4s ease;

    button {
        outline: none !important;
        border-radius: 50px;
        border: 1px solid $bg-grey;
        background: $bg-main-color;
        color: $text-default-light;
        padding: 10px;
        margin: 20px 0 20px 10px;
        @extend %Link;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s cubic-bezier(.5,.27,.87,1.28);

        &:hover {
            box-shadow: $small-shadow;
        }

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        &:hover {
            box-shadow: $small-shadow;
            color: $text-default;
            transform: scale(1.05);
        }

        &:active {
            box-shadow: none;
            background-color: rgba(255,255,255,.7);
            color: $text-default;
            transform: scale(0.98);
        }

        &.download__button {
            &:hover {
                background: $primary-color;

                i {
                    color: $text-color-white;
                }
            }

            &:active {
                background: $primary-dark-color;

                i {
                    color: $text-color-white;
                }
            }
        }
    }
}

.hide-block {
    overflow: hidden;
    height: 0;
    opacity: 0;
}