@import "../common/mixins.scss";
@import "../common/animations.scss";

.user-update {
    &__container {
        border-bottom: 1px solid $bg-grey;
        overflow: hidden;
        border-top: 1px solid $bg-grey;
    }

    &__main-info {
        flex: 0 0 50%;
        width: 50%;
        padding: 20px 10px 20px 0;
        margin: 0 auto;

        @media(max-width: $tablet-normal) {
            flex: 0 0 auto;
            width: 100%;
            padding: 10px 0;
        }
    }

    &__error-message {
        flex: 1 1 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    &__actions {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;

        .actions_button {
            outline: none !important;
        }
    }
}

.user-update__input-group {
    &.checkbox-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;

        .checkbox-label {
            margin: 0 20px 0 0;
        }

        input {
            width: 15px;
            height: 15px;
            margin: 2px 5px 0 0;
        }

        .status-info {
            &.active {
                color: $text-default;
            }

            &.inactive {
                color: $text-default-light;
            }
        }
    }
}

.password-block {
    opacity: 1;
    height: 123px;
    animation: apear-change-password .3s ease-in normal;
}

.user-update__main-info {
    .user-update__input-group {
        select {
            color: $text-default;
            background-color: $bg-white !important;
            border: 1px solid #ced4da !important;
        }
    }
}