$light-pink: #f2d5d3;

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul{
    padding: 0;
}

button{
    border: none;
    outline: none;
}

body {
    height: 100vh;
    background-color: #f0d3d3;
}

.body__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main {
    padding: 40px;
    width: calc(100vw - 280px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
}

.lang-block {
    &__wrapper {
        transition: opacity 0.2s ease-out;
        position: relative;
        margin-top: 40px;
        width: 108px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0.5;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            border-radius: 0.5px;
            background-color: rgba(255, 255, 255, 0.5);
            bottom: -5%;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        &:hover {
            color: aliceblue;
            cursor: pointer;
            opacity: 1;

            &::before {
                transform-origin: left;
                transform: scaleX(1);
            }
        }
    }

    &__text {
        color: $light-pink;
        font-size: 1rem;
        font-weight: 100;
    }

    &__img {
        fill: $light-pink;
        width: 1rem;
        height: 1rem;
    }

    &--show {
        display: flex;
    }

    &--hide {
        display: none;
    }
}

.lang-block__wrapper {
    @media (max-width: 1200px) {
        display: none;
    }
}