.page-weather__table {
    @media(max-width: 950px) {
        width: 90%;
        min-width: 100px;
    }

    @media(max-width: 950px) {
        width: 100%;
    }

    @media(max-width: 400px) {
        width: 95%;
    }
}

.row--main {
    background-color: #e67c7c;
    height: 3.5rem;
    border-bottom: 2px solid #795858;
}
