@import "../common/mixins.scss";
@import "../common/animations.scss";

.custom-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    &__overlay {
        width: 100%;
        height: 100%;
        background: rgba(10,10,10,.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__main-container {
        min-width: 320px;
        max-width: calc(100vw - 100px);
        min-height: 250px;
        max-height: calc(100vh - 200px);
        background: $bg-white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: $box-shadow;
        position: relative;

        &.wide-popup-container {
            width: calc(300px + (900 - 300) * ((100vw - 320px) / (1600 - 320)));
        }
    }
}

.custom-popup__header {
    width: 100%;
    padding: 20px;
    background: $bg-main-color;
    border-bottom: 1px solid $bg-grey;

    .popup-title {
        color: $text-default-light;
    }

    .popup-subtitle {
        @extend %BodyBold;
        color: $text-default-light;

        span {
            @extend %BodyRegular;
        }
    }
}

.custom-popup__body {
    flex: 1 1 auto;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    @extend %Caption;

    .change-password__input-group,
    .send-email__input-group {
        label {
            @extend %Link;
            color: $text-default-light;
        }

        input {
            outline: none !important;
        }

        .invalid {
            border-color: $red-color;
        }
    }

    .validation-message {
        color: $red-color;
    }

    &.change-pasword__block,
    &.send-email__block,
    &.load-file__block {
        width: 30vw;

        @media (max-width: $tablet) {
            width: 50vw;
        }

        @media (max-width: $tablet-normal) {
            width: 75vw;
        }

        @media (max-width: $mobile-normal) {
            width: 90vw;
        }
    }

    .select-file {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 0 0 0;

        &__title {
            @extend %BodyRegular;
            color: $text-default-light;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0 0 .5rem 0;

            .icon-container {
                margin: 5px 0 0 10px;

                &__generating {
                    margin: 3px 0 0 10px;

                    i {
                        display: inline-block;
                        animation: spin-loader .4s linear infinite;
                    }
                }

                &__generated {
                    margin: 5px 0 0 10px;
                    color: $accent-color;
                }
            }

            .title__generated {
                color: $accent-color;
            }
        }

        .user-select-form {
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;

            @media(max-width: $tablet-normal) {
                width: 100%;
            }

            i {
                color: $text-default-light;
                margin: 0 5% 0 0;
                padding: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $bg-grey;
                border-radius: 3px;
            }

            .oi-image,
            .oi-text,
            .oi-file {
                padding: 4px 3px 2px 3px;
            }
        }
    }

    .managment-error-message {
        color: $red-color;
        @extend %Caption;
    }
}

.custom-popup__footer {
    padding: 0 20px 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__button {
        outline: none !important;
        border-radius: 50px;
        background: $bg-white;
        color: $text-default;
        border: 1px solid $bg-grey;
        box-shadow: none;
        padding: 15px 40px;
        margin: calc(5px + (20 - 5) * ((100vw - 320px) / (1600 - 320)));
        @extend %Link;
        cursor: pointer;
        transition: .2s ease-in;

        .icons-spinner {
            &:before {
                display: inline-block;
                animation: spin-loader .4s linear infinite;
            }
        }

        &:hover {
            box-shadow: $small-shadow;
        }

        &:active {
            box-shadow: none;
        }

        &.primary {
            @extend %primary-button;
        }

        &.success {
            &:hover {
                @extend %success-button;
            }
        }

        &.danger {
            @extend %danger-button;
        }

        &.inactive {
            box-shadow: none !important;
            background: transparent !important;
            color: $text-default-light;
            opacity: .6;
            cursor: unset;
        }
    }
}

.custom-popup__action-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0 0 20px;

    .popup-button {
        @extend %Link;
        border-radius: 50px;
        color: $text-color-white;
        cursor: pointer;
        outline: none !important;
        box-shadow: none;
        background: $bg-grey;
        padding: 15px 40px;
        margin: 20px 0 0 0 !important;
        transition: .3s ease-in;

        &:active {
            box-shadow: none;
        }

        &.active {
            @extend %primary-button;
            box-shadow: $small-shadow;
        }

        .icons-spinner {
            &:before {
                display: inline-block;
                animation: spin-loader .4s linear infinite;
            }
        }
    }
}

.popup-close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    @extend %BodyBold;
    color: $text-default-light;
    cursor: pointer;
    transition: .2s ease-in;

    &:hover {
        color: $text-default;
        text-shadow: $small-shadow;
    }

    &:active {
        color: $text-default;
        text-shadow: none;
    }
}
