@import "../common/mixins.scss";

.footer-container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(152, 152, 164, .01), rgba(152, 152, 164, .1));
    box-shadow: $minimum-shadow;

    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 1140px;
        height: 100%;
        display: flex;

        @media(max-width: $desktop-notepad) {
            width: calc(100vw - 50px);
        }

        &__error-message {
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &__languages {
        }
    }
}
