@import "../common/mixins.scss";
@import "../common/animations.scss";

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.02);

    i {
        font-size: 48px;
        color: $text-default-light;
        animation: spin-loader .5s linear infinite;
    }
}
