@inherits LayoutComponentBase

<div class="body__container">
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                 <WebApplicationShared.Components.Layout.NavMenu />
            </Authorized>
        </AuthorizeView>
    </CascadingAuthenticationState>

    <main class="main">
        @Body
    </main>
</div>

@* @using WebApplicationShared.Components.Layout
<WebApplicationShared.Components.Layout.MainLayout></WebApplicationShared.Components.Layout.MainLayout> *@