@inherits LayoutComponentBase

<div class="body__container">
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                 <NavMenu />
            </Authorized>
        </AuthorizeView>
    </CascadingAuthenticationState>

    <main class="main">
        @Body
    </main>
</div>