<div class="">
    <div class="">
        <a class="" href="/">Account</a>
    </div>
</div>

<div class="nav__container">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list-el">
                <AuthorizeView>
                    <Authorized>
                        <NavLink href="/">
                            <span class="nav__list-el-text">Home</span>
                        </NavLink>
                    </Authorized>
                </AuthorizeView>
            </li>

            <li class="nav__list-el">
                <NavLink href="counter">
                    <span class="">Counter</span>
                </NavLink>
            </li>

            <li class="nav__list-el">
                <AuthorizeView Roles="Administrator">
                    <NavLink href="weather">
                        <span class="nav__list-el-text">Weather</span>
                    </NavLink>
                 </AuthorizeView>
            </li>
        </ul>
    </nav>
</div>

