@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?70bmvo');
  src:  url('fonts/icons.eot?70bmvo#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?70bmvo') format('truetype'),
    url('fonts/icons.woff?70bmvo') format('woff'),
    url('fonts/icons.svg?70bmvo#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icons-"]::before, [class*=" icons-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icons-arrow_down:before {
  content: "\e900";
}
.icons-arrow_left:before {
  content: "\e901";
}
.icons-arrow_right:before {
  content: "\e902";
}
.icons-arrow_up:before {
  content: "\e903";
}
.icons-calendar:before {
  content: "\e904";
}
.icons-certificate:before {
  content: "\e905";
}
.icons-certificate_add:before {
  content: "\e906";
}
.icons-certificates:before {
  content: "\e907";
}
.icons-chevron:before {
  content: "\e908";
}
.icons-clock:before {
  content: "\e909";
}
.icons-fetch_data:before {
  content: "\e90a";
}
.icons-menu:before {
  content: "\e90b";
}
.icons-search:before {
  content: "\e90c";
}
.icons-success:before {
  content: "\e90d";
}
.icons-trash:before {
  content: "\e90e";
}
.icons-user:before {
  content: "\e90f";
}
.icons-home:before {
  content: "\e910";
}
.icons-pencil:before {
  content: "\e91b";
}
.icons-copy:before {
  content: "\e92c";
}
.icons-folder:before {
  content: "\e92f";
}
.icons-qrcode:before {
  content: "\e938";
}
.icons-credit-card:before {
  content: "\e93f";
}
.icons-printer:before {
  content: "\e954";
}
.icons-spinner:before {
  content: "\e97b";
}
.icons-key:before {
  content: "\e98d";
}
