@inherits ChooseLanguageBase

@if (cultures != null)
{
    <form class="user-select-form">
        <select class="form-control mr-2" @onchange="RequestCultureChange">
            @foreach (var culture in cultures)
            {
                @if (selectedCulture.Equals(culture.Key))
                {
                    <option value="@culture.Key" selected>@Localizer[culture.Value].Value</option>
                }
                else
                {
                    <option value="@culture.Key">@Localizer[culture.Value].Value</option>
                }
            }
        </select>
    </form>
}

