.chat {
    &__container {
        /*border: 1px solid black;*/
        width: calc(100% - 20px);
        height: 58vh;
        margin-top: 1rem;
        overflow-y: scroll;
    }

    &__msg {
        &-list {
            list-style-type: none;
        }

        &-el {
            /*border: 1px solid black;*/
            margin-bottom: 1.5rem;
            max-width: 60%;
            display: flex;
            flex-direction: column;
        }

        &--username {
            line-height: 1.2;
            font-size: 1.25rem;
            letter-spacing: 1px;
            font-weight: 400;
            margin-bottom: 0.6rem;
            margin-left: 1rem;
        }

        &--text {
            border: 1px solid black;
            padding: 1rem;
            border: 1px solid rgb(79, 23, 23);
            border-radius: 16px;
            margin-bottom: 0;
            font-size: 1rem;
            overflow-wrap: anywhere;
            background: linear-gradient(135deg, rgba(247, 89, 89, 0.35) 0%, rgba(247, 85, 120, 0.35) 30%, rgba(247, 89, 89, 0.35) 60%, rgba(247, 85, 120, 0.35) 90%);
        }
    }
}

.send-msg-box {
    box-sizing: content-box;
    position: fixed;
    width: calc(100% - 280px);
    min-height: 120px;
    bottom: 0;
    right: 0;
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .form__input-area {
        transition: border-color .15s ease-in-out;
        margin: 0;
        padding: 16px;
        width: 80%;
        height: 60px;
        border-radius: 16px;
        border: 1px solid;
        border-color: transparent;
        outline: none;

        &:hover {
            border-color: rgb(52, 21, 21, 0.20);
        }

        &:focus {
            border-color: rgb(52, 21, 21, 0.25);
        }
    }

    .form__btn-submit{
        max-width: 100px;

        &:hover{
            background-color: rgb(255, 255, 255, 0.5);
        }
    }
}